<?xml version="1.0"?>
<robot name="six_dof_cam"
	xmlns:xacro="http://ros.org/wiki/xacro">
	
	<xacro:include filename="$(find six_dof_cam_description)/urdf/camera/camera.xacro"/>
	<xacro:include filename="$(find six_dof_cam_description)/urdf/linear_actuator/linear_actuator.xacro"/>
	<xacro:include filename="$(find six_dof_cam_description)/urdf/rotary_actuator/rotary_actuator.xacro"/>

<!-- =============== Link & Joint =============== -->
	<link name="world"/>

	<xacro:linear_actuator prefix="x" parent="world">
		<origin xyz="0 0 1" rpy="0 0 0"/>
		<axis xyz="1 0 0"/>
	</xacro:linear_actuator>

	<xacro:linear_actuator prefix="y" parent="x_linear_actuator_link">
		<origin xyz="0 0 0" rpy="0 0 0"/>
		<axis xyz="0 1 0"/>
	</xacro:linear_actuator>

	<xacro:linear_actuator prefix="z" parent="y_linear_actuator_link">
		<origin xyz="0 0 0" rpy="0 0 0"/>
		<axis xyz="0 0 1"/>
	</xacro:linear_actuator>

	<xacro:rotary_actuator prefix="x" parent="z_linear_actuator_link">
		<origin xyz="0 0 0" rpy="0 0 0"/>
		<axis xyz="1 0 0"/>
	</xacro:rotary_actuator>

	<xacro:rotary_actuator prefix="y" parent="x_rotary_actuator_link">
		<origin xyz="0 0 0" rpy="0 0 0"/>
		<axis xyz="0 1 0"/>
	</xacro:rotary_actuator>
	
	<xacro:rotary_actuator prefix="z" parent="y_rotary_actuator_link">
		<origin xyz="0 0 0" rpy="0 0 0"/>
		<axis xyz="0 0 1"/>
	</xacro:rotary_actuator>

	<xacro:camera parent="z_rotary_actuator_link">
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</xacro:camera>

<!-- ===============  Transmission =============== -->
<xacro:linear_actuator_trans prefix="x" interface="hardware_interface/PositionJointInterface"/>
<xacro:linear_actuator_trans prefix="y" interface="hardware_interface/PositionJointInterface"/>
<xacro:linear_actuator_trans prefix="z" interface="hardware_interface/PositionJointInterface"/>
<xacro:rotary_actuator_trans prefix="x" interface="hardware_interface/PositionJointInterface"/>
<xacro:rotary_actuator_trans prefix="y" interface="hardware_interface/PositionJointInterface"/>
<xacro:rotary_actuator_trans prefix="z" interface="hardware_interface/PositionJointInterface"/>

<!-- =============== Gazebo =============== -->
<gazebo>
	<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
		<robotNamespace>six_dof_cam</robotNamespace>
	</plugin>
</gazebo>

<!-- camera -->
<xacro:camera_gazebo/>

<!-- actuators -->
<xacro:rotary_actuator_gazebo prefix="x"/>
<xacro:rotary_actuator_gazebo prefix="y"/>
<xacro:rotary_actuator_gazebo prefix="z"/>
<xacro:linear_actuator_gazebo prefix="x"/>
<xacro:linear_actuator_gazebo prefix="y"/>
<xacro:linear_actuator_gazebo prefix="z"/>
</robot>
