<?xml version="1.0"?>
<robot name="six_dof_cam"
	xmlns:xacro="http://ros.org/wiki/xacro">
	
	<xacro:include filename="$(find six_dof_cam_description)/urdf/camera/camera.xacro"/>
	<xacro:include filename="$(find six_dof_cam_description)/urdf/linear_actuator/linear_actuator.xacro"/>

<!-- =============== Link & Joint =============== -->
	<link name="map"/>

	<!--<xacro:linear_actuator prefix="x" parent="base_footprint">
		<origin xyz="0 0 0" rpy="0 0 0"/>
		<axis xyz="1 0 0"/>
	</xacro:linear_actuator>-->

	<xacro:camera parent="map">
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</xacro:camera>

<!-- ===============  Transmission =============== -->
<!-- PositionJointInterface: requires position -->
<!-- <xacro:wheel_trans prefix="right" interface="PositionJointInterface"/> -->
<!-- <xacro:wheel_trans prefix="left" interface="PositionJointInterface"/>  -->
<!-- VelocityJointInterface: requires position, velocity -->
<!-- for DiffDriveController -->
<!--<xacro:wheel_trans prefix="right" interface="hardware_interface/VelocityJointInterface"/>-->
<!--<xacro:wheel_trans prefix="left" interface="hardware_interface/VelocityJointInterface"/>-->
<!-- EffortJointInterface: requires position, velocity, effort -->
<!-- <xacro:wheel_trans prefix="right" interface="EffortJointInterface"/> -->
<!-- <xacro:wheel_trans prefix="left" interface="EffortJointInterface"/>  -->

<!-- =============== Gazebo =============== -->
<!--<gazebo>-->
<!--<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">-->
<!--<robotNamespace>raspimouse_on_gazebo</robotNamespace>-->
<!--</plugin>-->
<!--</gazebo>-->

<!-- Base -->
<!--<xacro:base_gazebo/>-->

<!-- Wheel -->
<!--<xacro:wheel_gazebo prefix="right"/>-->
<!--<xacro:wheel_gazebo prefix="left"/>-->
</robot>
