<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:macro name="finger_trans" params="prefix interface">
		<transmission name="${prefix}_finger_trans">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${prefix}_finger_joint">
				<hardwareInterface>${interface}</hardwareInterface>
			</joint>
			<actuator name="${prefix}_finger_motor">
				<hardwareInterface>${interface}</hardwareInterface>
			</actuator>
		</transmission>
	</xacro:macro>
</robot>
