<?xml version="1.0"?>
<robot name="six_dof_hand"
	xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:include filename="$(find six_dof_hand_description)/urdf/camera/camera.xacro"/>
	<xacro:include filename="$(find six_dof_hand_description)/urdf/base/base.xacro"/> 
	<xacro:include filename="$(find six_dof_hand_description)/urdf/linear_actuator/linear_actuator.xacro"/> 
	<xacro:include filename="$(find six_dof_hand_description)/urdf/rotary_actuator/rotary_actuator.xacro"/>
	<xacro:include filename="$(find six_dof_hand_description)/urdf/finger/finger.xacro"/>
	<xacro:property name="M_PI" value="3.1415926535897931" />

<!-- =============== Link & Joint =============== -->
	<link name="world"/>

	<xacro:base parent="world">
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</xacro:base>
	<xacro:linear_actuator prefix="x" parent="base_link">
		<origin xyz="0 0 1" rpy="0 0 0"/>
		<axis xyz="1 0 0"/>
	</xacro:linear_actuator>

	<xacro:linear_actuator prefix="y" parent="x_linear_actuator_link">
		<origin xyz="0 0 0" rpy="0 0 0"/>
		<axis xyz="0 1 0"/>
	</xacro:linear_actuator>

	<xacro:linear_actuator prefix="z" parent="y_linear_actuator_link">
		<origin xyz="0 0 0" rpy="0 0 0"/>
		<axis xyz="0 0 1"/>
	</xacro:linear_actuator>

	<xacro:rotary_actuator prefix="x" parent="z_linear_actuator_link">
		<origin xyz="0 0 0" rpy="0 0 0"/>
		<axis xyz="1 0 0"/>
	</xacro:rotary_actuator>

	<xacro:rotary_actuator prefix="y" parent="x_rotary_actuator_link">
		<origin xyz="0 0 0" rpy="0 0 0"/>
		<axis xyz="0 1 0"/>
	</xacro:rotary_actuator>
	
	<xacro:rotary_actuator prefix="z" parent="y_rotary_actuator_link">
		<origin xyz="0 0 0" rpy="0 0 0"/>
		<axis xyz="0 0 1"/>
	</xacro:rotary_actuator>

	<xacro:camera_model parent="z_rotary_actuator_link">
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</xacro:camera_model>

	<xacro:finger prefix="r" parent="camera_link">
	<!--
		<origin xyz="0.030 0.040 0" rpy="0 0 0"/>
	-->
		<origin xyz="0.040 -0.030 0" rpy="0 0 ${-M_PI / 2}"/>
		<axis xyz="0 0 1"/>
	</xacro:finger>

	<xacro:finger prefix="l" parent="camera_link">
	<!--
		<origin xyz="-0.030 0.040 0" rpy="0 ${M_PI} 0"/>
	-->
		<origin xyz="0.040 0.030 0" rpy="0 ${M_PI} ${-M_PI / 2}"/>
		<axis xyz="0 0 1"/>
	</xacro:finger>

<!-- ===============  Transmission =============== -->
<xacro:linear_actuator_trans prefix="x" interface="hardware_interface/EffortJointInterface"/>
<xacro:linear_actuator_trans prefix="y" interface="hardware_interface/EffortJointInterface"/>
<xacro:linear_actuator_trans prefix="z" interface="hardware_interface/EffortJointInterface"/>
<xacro:rotary_actuator_trans prefix="x" interface="hardware_interface/EffortJointInterface"/>
<xacro:rotary_actuator_trans prefix="y" interface="hardware_interface/EffortJointInterface"/>
<xacro:rotary_actuator_trans prefix="z" interface="hardware_interface/EffortJointInterface"/>
<xacro:finger_trans prefix="r" interface="hardware_interface/EffortJointInterface"/>
<xacro:finger_trans prefix="l" interface="hardware_interface/EffortJointInterface"/>

<!-- =============== Gazebo =============== -->
<gazebo>
	<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
		<robotNamespace>six_dof_hand</robotNamespace>
	</plugin>
</gazebo>

<!-- base -->
<xacro:base_gazebo/>

<!-- camera -->
<xacro:camera_gazebo/>

<!-- actuators -->
<xacro:rotary_actuator_gazebo prefix="x"/>
<xacro:rotary_actuator_gazebo prefix="y"/>
<xacro:rotary_actuator_gazebo prefix="z"/>
<xacro:linear_actuator_gazebo prefix="x"/>
<xacro:linear_actuator_gazebo prefix="y"/>
<xacro:linear_actuator_gazebo prefix="z"/>
<xacro:finger_gazebo prefix="r"/>
<xacro:finger_gazebo prefix="l"/>
</robot>
